.wrapper__first-section_size_bg {
  width: 1600px;
  height: 1064px;
  background-image: url("../images/first section/background/bg_first_section.jpg");
  overflow: hidden; }

.wrapper_flex {
  display: flex; }

.wrapper__first-section-content_align {
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.wrapper__header_sized_alignment {
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  border-bottom: 2px solid #2e2e2f;
  padding-bottom: 25px; }

.wrapper__header_center {
  justify-content: center; }

.menu__list_style li {
  display: inline-block;
  margin-left: 65px; }
  .menu__list_style li a {
    text-decoration: none;
    font-size: 16px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #fff; }
  .menu__list_style li a:hover {
    color: #FF7A41;
    border-bottom: 2px solid #fff;
    padding-bottom: 35px; }

.menu__list_style li:first-letter {
  text-transform: uppercase; }

.wrapper__content_center_flex {
  flex-direction: column;
  align-items: center; }

.caption__text_style {
  font-size: 72px;
  font-family: MyriadPro, Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase; }

.text__article_style {
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  font-style: italic;
  line-height: 1.469; }

.form__btn_text-style {
  font-size: 22px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transform: skewX(13deg); }

.login {
  width: 825px;
  height: 121px;
  border: none;
  background: #21424a;
  cursor: pointer;
  transform: skewX(-13deg);
  transform-origin: 0 34%; }

.register {
  width: 825px;
  height: 121px;
  border: none;
  background: #2fac6c;
  cursor: pointer;
  transform: skewX(-13deg);
  transform-origin: 0 34%; }
